/* tailwind CSS 적용 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 폰트 적용 */
@font-face {
    font-family: "Pretendard-Black";
    font-style: normal;
    font-weight: 300;
    src: url("./fonts/Pretendard-Black.woff") format("woff");
}

@font-face {
    font-family: "Pretendard-Bold";
    font-style: normal;
    font-weight: 600;
    src: url("./fonts/Pretendard-Bold.woff") format("woff");
}

@font-face {
    font-family: "Pretendard-ExtraBold";
    font-style: normal;
    font-weight: 800;
    src: url("./fonts/Pretendard-ExtraBold.woff") format("woff");
}

@font-face {
    font-family: "Pretendard-ExtraLight";
    font-style: normal;
    font-weight: 200;
    src: url("./fonts/Pretendard-ExtraLight.woff") format("woff");
}

@font-face {
    font-family: "Pretendard-Thin";
    font-style: normal;
    font-weight: 100;
    src: url("./fonts/Pretendard-Thin.woff") format("woff");
}
